/*Help Resources
CSS Animations:
https://developer.mozilla.org/en-US/docs/Web/CSS/animation
*/
/*
######################### Default Styles #########################
*/
body, html {
    margin:0;
    padding:0;
}
body { 
    background-image: url("../Images/valhalla\ 2-compressed.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: #214252;*/
}
main, .name-picker-main { flex-grow: 1; }
.content, .outcomes-content, .ending1-content, .ending2-content, .credits-content { font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
/* Only for body of Index Page */
#index {
    /* Safari, Chrome and Opera > 12.1 */
    -webkit-animation: fadein 1s; 
    /* Firefox < 16 */
    -moz-animation: fadein 1s; 
    /* Internet Explorer */
     -ms-animation: fadein 1s; 
     /* Opera < 12.1 */
      -o-animation: fadein 1s; 
      /* Default */
         animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*
######################### Site Wide Wrapper #########################
*/
.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    font-weight: bold;
    text-align: center;
}
/*
######################### Site Wide Header #########################
*/
header {
    font-size: 2em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    text-decoration: underline;
    overflow: hidden;
    padding: 15px 0 30px 0;
    height: 30px;
    background: #af2d2d;
}
/*
######################### STORY PAGE PROPERTIES #########################
*/
#page0-story, #page1-story, #page2-story, #page3a-story, #page3b-story, 
#page3c-story, #page4-story, #page4-alternate, #page5-story, #page5-story-option1, #page5-story-option2, #page6-story, #consequence1, #consequence2 { padding: 20px 20px 10px 20px; }
#message, #message-option1 { padding: 0px 20px 10px 20px; }
.outcomes-content { padding: 5px; }
#page0 { display: none; }
#outcomes-index, #outcomes-page1, #outcomes-page3b { display: none; }
#consequence1, #consequence2 { padding-top: 10px; }
/* PAGE 4 */
#alternate-choice { display: none; }
/* PAGE 5 */
#page5-option1, #page5-option2 { display: none; }
/*
######################### PLAYTHROUGH STATS PAGE #########################
*/
.playthroughStatsHeader {
    padding-top: 10px;
    text-decoration: underline;
    font-style: italic;
}
/*
######################### ENDING PAGES #########################
*/
.ending1-text, .ending2-text { padding: 20px; }
/*
######################### Setting Footer, Main Content, All Buttons & Ending Pages Colour #########################
*/
.content, .outcomes-content, .credits-content, .ending1-content, .ending2-content, footer, 
button { background:#af2d2d; }