/*
######################### Default Styles #########################
*/
body, html {
    margin:0;
    padding:0;
}
body { background-color: #214252; }
/* Only for body of Index Page */
#body-index {
    /* Safari, Chrome and Opera > 12.1 */
    -webkit-animation: fadein 1s; 
    /* Firefox < 16 */
    -moz-animation: fadein 1s; 
    /* Internet Explorer */
     -ms-animation: fadein 1s; 
     /* Opera < 12.1 */
      -o-animation: fadein 1s; 
      /* Default */
         animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
main, .name-picker-main { flex-grow: 1; }

/*
######################### Site Wide Wrapper #########################
*/
.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    font-weight: bold;
    text-align: center;
}

/*
######################### Site Wide Header #########################
*/
header {
    font-size: 2em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    text-decoration: underline;
    overflow: hidden;
    padding: 15px 0 30px 0;
    height: 30px;
    background: #af2d2d;
}

/*
######################### Setting Footer, Main Content, All Buttons & Ending Pages Colour #########################
*/
.content, .outcomes-content, .credits-content, .ending1-content, .ending2-content, footer, 
button { background:#af2d2d; }