/*Help Resources
Used the following to help with making the footer stick to the bottom of the screen
https://codepen.io/seanhak/pen/rmwEjz
Used to read up on aligning items using Flex
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container
Used to pick colour palette
https://colorhunt.co/
*/

/*FOR WIDESCREEN*/

/*
######################### Default Styles #########################
*/
body, html {
    margin:0;
    padding:0;
}
/* Only for body of Index Page */
#body-index {
    /* Safari, Chrome and Opera > 12.1 */
    -webkit-animation: fadein 1s; 
    /* Firefox < 16 */
    -moz-animation: fadein 1s; 
    /* Internet Explorer */
     -ms-animation: fadein 1s; 
     /* Opera < 12.1 */
      -o-animation: fadein 1s; 
      /* Default */
         animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
main, .name-picker-main {
    flex-grow: 1;
}
body {
    background-color: #214252;
}
.content, .ending1-content, .ending2-content, .credits-content {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 30px 150px 30px 150px;
}
/* 
######################### MAIN MENU #########################
*/
/*Wrapper*/
.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    font-weight: bold;
    text-align: center;
}
/*
######################### Page Header #########################
*/
header {
    font-size: 2em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    text-decoration: underline;
    overflow: hidden;
    padding: 15px 0 30px 0;
    height: 30px;
    background: #af2d2d;
}
/*
######################### All Buttons #########################
*/
button {
    cursor: pointer;
    display: block;
    width: 20%;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    font-size: 0.9em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    padding: 10px;
}
/* 
######################### Main Menu - Index & Credits ######################### 
*/
.about-heading, .credits-heading {
    font-size: 2.5em;
    text-align: center;
    text-decoration: underline;
    padding: 10px 0 10px 0;
    margin: 0;
}
.about-content, .credits {
    text-align: left;
    font-size: 1.5em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px 20px 10px 20px;
}
.continue-button {
    background-color: #214252;
}
#close-button {
    display: none;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 500%);
}
.credits {
    text-align: center;
}
/*
######################### Setting Footer, Main Content Colour & All Buttons #########################
*/
.content, .credits-content, .ending1-content, .ending2-content, footer, button, .continue-button {
    background:#af2d2d;
}
/*
######################### Name Picker Page #########################
*/
#names-list {
    text-align: center;
    width: 100px;
    font-size: 1.5em;
    border: 6px solid black;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 20px;
}
#name-picker {
    display: none;
}
.name-picker-heading {
    font-size: 1.75em;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0;
}
.about-content {
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px 20px 10px 20px;
}

/*
######################### ALL STORY PAGE PROPERTIES #########################
*/
#page0-story, .page1-story, .page2-story, .page3a-story, .page3b-story, .page3c-story, .page4-story, #page4-alternate {
    padding: 20px;
}
.content {
    padding: 5px;
}

/*
######################### STORY PAGE 0 (INDEX PAGE) #########################
*/
#page0 {
    display: none;
}

/*
######################### OUTCOMES PAGE (INDEX PAGE) #########################
*/
#outcomes-index, #outcomes-page1, #outcomes-page3b {
    display: none;
}
#consequence1, #consequence2 { padding-top: 10px; }

/*
######################### STORY PAGE 1 #########################
*/

/*
######################### STORY PAGE 2 #########################
*/

/*
######################### STORY PAGE 4 #########################
*/
#alternate-choice {
    display: none;
}
/*
######################### STORY PAGE 5 #########################
*/
#page5-option1, #page5-option2 {
    display: none;
}
/*
######################### ENDING 1 PAGE #########################
*/
.ending1-text, .ending2-text {
    padding: 20px;
}
/*
######################### ENDING 2 PAGE #########################
*/

/*
######################### Load Games Overlay #########################
*/
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}
/*
######################### PLAYTHROUGH STATS PAGE #########################
*/
.playthroughStatsHeader {
    text-decoration: underline;
    font-style: italic;
}

/*
######################### Footer #########################
*/
footer {
    overflow: hidden;
    padding: 30px 0 25px 0;
    height: 35px;
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}
.footer-gh-icon {
    width: 30px;
    height: 30px;
    padding: 5px;
}